@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap%27');

body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    overflow: hidden;
}


#s1 {
    background-image: url('../img/pokebg2.jpeg');
    height: 80vh;
    width: 100vw;
    background-repeat: no-repeat;
    position: relative;
}

#arca {
    position: absolute;
    bottom: 5px;
}

#d1 {
    background-color: rgba(0, 0, 0, 0.725);
    height: 16vh;
    width: 30vw;
    position: absolute;
    top: 100px;
    left: 100px;
}




#arca {
    transition: 1.5s;
    
  }
  #arca.attacking {
    transform: translate(750px,-300px);
    
  }
  #levia{
    transition: 1.5s;
  }
#levia.attacking{
    transform: translate(-750px,300px);
}




.pokeball {
    height: 30px;
    margin-left: 15px;
    margin-top: 9px;
}

#name {
    color: white;
    margin-left: 20px;
    font-family: 'Press Start 2P', cursive;

}

#hp {
    font-family: 'Press Start 2P', cursive;

    font-size: 15px;
    position: absolute;
    color: white;
    margin-left: 70%;
    margin-top: 3%;
}

#levia {
    position: absolute;
    margin-left: 70vw;
    margin-top: 20vh;
}

#d2 {
    background-color: rgba(0, 0, 0, 0.725);
    height: 16vh;
    width: 30vw;
    position: absolute;
    bottom: 100px;
    left: 55vw;
}

#s2 {
    display: flex;
    background-color: gray;
    height: 30vh;
    border-top: 1px solid white;
    position: relative;
}

#action {
    font-family: 'Press Start 2P', cursive;
    margin-left: 50px;
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
}

#continue {
    margin-left: 20px;
    background-color: #6e6767;
    border: 1px solid #969494;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#allb {
    position: absolute;
    top: 30px;
    margin-left: 70vw;
}

.bta {
    margin-top: 5px;
    background-color: #6e6767;
    border: 1px solid #969494;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    font-family: 'Press Start 2P', cursive;

}


progress {
    border: none;
    width: 25vw;
    height: 3vh;
    background: crimson;
    margin-left: 4%;
}

progress {
    color: lightblue;
    
}

progress::-webkit-progress-value {
    background: green;

}
#bgred::-webkit-progress-value{
    background: red;
}
#tout{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
     background-image: url('../img/pokemaster.jpeg');
     background-repeat: no-repeat;
     background-size: 120vw;
}
.part{
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
}
.revenir{
    transform: translateX(0);
}
#h1t1{
    font-family: 'Press Start 2P', cursive;
    color: white;
}
#contain-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 50px;
}
#deuximg{
    margin-left: 20%;
}
